InventoryManagement/force-app/src/flows/Create_Receive_Serialized_Transfers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Found_State</name>
        <label>Found State</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>get_product_item</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Item_Old</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>add</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity_Received__c} +{!Get_New_Serialized.ProductItem.Overall_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>addsecondbranch</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity_Received__c} +{!Copy_1_of_Get_New_Serialized.ProductItem.Overall_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>subtract</name>
        <dataType>Number</dataType>
        <expression>{!Get_State.SerializedProduct.ProductItem.Overall_Quantity__c} - {!$Record.Quantity_Received__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>subtractsecondbranch</name>
        <dataType>Number</dataType>
        <expression>{!get_product_item.ProductItem.Overall_Quantity__c} - {!$Record.Quantity_Received__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create/Receive Serialized Transfers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create/Receive Serialized Transfers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Copy_2_of_Create_Receive_State</name>
        <label>Copy 1 of Copy 2 of Create Receive State</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_State</targetReference>
        </connector>
        <inputAssignments>
            <field>Action</field>
            <value>
                <stringValue>Receive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductTransferId</field>
            <value>
                <elementReference>Get_Product_Transfer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerializedProductId</field>
            <value>
                <elementReference>$Record.Scan_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransferState</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransferState</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Receive_State</name>
        <label>Product Transfer st</label>
        <locationX>314</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Update_transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Action</field>
            <value>
                <stringValue>Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductTransferId</field>
            <value>
                <elementReference>Get_Product_Transfer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerializedProductId</field>
            <value>
                <elementReference>Get_Serialized.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransferState</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransferState</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Receive_State</name>
        <label>Copy 2 of Create Receive State</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Update_State</targetReference>
        </connector>
        <inputAssignments>
            <field>Action</field>
            <value>
                <stringValue>Receive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductTransferId</field>
            <value>
                <elementReference>Get_State.ProductTransferId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerializedProductId</field>
            <value>
                <elementReference>Get_State.SerializedProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransferState</field>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransferState</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_New_Serialized</name>
        <label>Copy 1 of Get New Serialized</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Product_Copy</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Scan_Info__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Scan_Info__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Product_Transfer</name>
        <label>Copy 1 of Get Product Transfer</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuantitySent</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>IsReceived</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DestinationLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Serialized.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSent</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductTransfer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Serialized</name>
        <label>Get New Serialized</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Prod_Item</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Scan_Info__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Scan_Info__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_product_item</name>
        <label>get product item</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Transfer</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Scan_Info__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Scan_Info__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Transfer</name>
        <label>Get Product Transfer</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Receive_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsReceived</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SourceLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Source__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>DestinationLocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Destination__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SourceProductItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_product_item.ProductItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantitySent</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductTransfer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Serialized</name>
        <label>Get Serialized</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Product_Transfer</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Scan_Info__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Scan_Info__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_State</name>
        <label>Get State</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerializedProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Serialized.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Action</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send</stringValue>
            </value>
        </filters>
        <filters>
            <field>TransferState</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductTransferId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Product_Transfer.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductTransferState</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Product_Item_Old</name>
        <label>Copy 1 of Update Product Item Old</label>
        <locationX>314</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Create_Receive_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_product_item.ProductItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>subtractsecondbranch</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_State</name>
        <label>Copy 1 of Update State</label>
        <locationX>314</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_New_Serialized</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Transfer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prod_Item</name>
        <label>Update Prod Item</label>
        <locationX>50</locationX>
        <locationY>1187</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_Serialized.ProductItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>add</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Copy</name>
        <label>Update Product Copy</label>
        <locationX>314</locationX>
        <locationY>1619</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_New_Serialized.ProductItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>addsecondbranch</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Item_Old</name>
        <label>Update Product Item Old</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Copy_2_of_Create_Receive_State</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_State.SerializedProduct.ProductItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>subtract</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_State</name>
        <label>Update State</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Get_New_Serialized</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_State.ProductTransferId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsReceived</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityReceived</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_transfer</name>
        <label>Update transfer</label>
        <locationX>314</locationX>
        <locationY>1079</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Product_Item_Old</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Transfer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsSent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Serialized</targetReference>
        </connector>
        <object>Barcode_Scan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
