InventoryManagement/force-app/src/flows/Create_Serialized_Products_from_Product_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>test_creation</name>
        <label>test creation</label>
        <locationX>1625</locationX>
        <locationY>990</locationY>
        <actionName>TSS_StickIt_MR1__stickItInvocableAddToQueue</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_products</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>labelName</name>
            <value>
                <elementReference>serialName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderByField</name>
            <value>
                <stringValue>Name</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>printLocation</name>
            <value>
                <elementReference>Print_Location</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>get_products.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>labelChosen</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TSS_StickIt_MR1__stickItInvocableAddToQueue</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_new_serialized_product_to_list</name>
        <label>Add new serialized product to list</label>
        <locationX>14</locationX>
        <locationY>694</locationY>
        <assignmentItems>
            <assignToReference>singleProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SerializedProductID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleProduct.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleProduct.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serialCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleProduct.ProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>productItemId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleProduct.Product_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleProduct.Date_Received__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleProduct.Printed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleProduct.Serialized_Label_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleProduct.Quantity_of_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Line_Item.QuantityRequested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Item</name>
        <label>Assign Product Item</label>
        <locationX>597</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>productItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_SerialCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Item_0</name>
        <label>Assign Product Item</label>
        <locationX>947</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>productItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Product_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_SerialCount_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_Item_0_0_0</name>
        <label>Assign Product Item</label>
        <locationX>1482</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>productItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Product_Item_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initialize_SerialCount_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Serialized_Product</name>
        <label>Assign Serialized Product</label>
        <locationX>909</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>SerializedProductID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Serialized_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Labels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Serialized_Product_0</name>
        <label>Assign Serialized Product</label>
        <locationX>718</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>SerializedProductID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Serialized_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Labels</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_PB_Entries</name>
        <label>Create PB Entries</label>
        <locationX>2052</locationX>
        <locationY>432</locationY>
        <assignmentItems>
            <assignToReference>PriceBookEntryVar.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryVar.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Price_Book_Entries.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryVar.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Price_Book_Entries.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriceBookEntryVar.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Serialized_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pbEntryMulti</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PriceBookEntryVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Price_Book_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_SerialCount</name>
        <label>Initialize SerialCount</label>
        <locationX>559</locationX>
        <locationY>444</locationY>
        <assignmentItems>
            <assignToReference>serialCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autonuminit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Serialized_Product_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_SerialCount_0</name>
        <label>Initialize SerialCount</label>
        <locationX>840</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>serialCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autonuminit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Serialized_Product_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_SerialCount_0_0</name>
        <label>Initialize SerialCount</label>
        <locationX>1106</locationX>
        <locationY>732</locationY>
        <assignmentItems>
            <assignToReference>serialCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>autonuminit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Serialized_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_Assign</name>
        <label>Label Assign</label>
        <locationX>936</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>labelChosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0695f00000KtlkBAAR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Label_Assign_0</name>
        <label>Label Assign</label>
        <locationX>924</locationX>
        <locationY>1083</locationY>
        <assignmentItems>
            <assignToReference>labelChosen</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0695f00000KtRTTAA3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>settotrue</name>
        <label>set to true</label>
        <locationX>1218</locationX>
        <locationY>948</locationY>
        <assignmentItems>
            <assignToReference>singleSerialProduct.Printed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleSerialProduct.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_products.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>printListFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleSerialProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>test_creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_count</name>
        <label>update count</label>
        <locationX>156</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>startNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>add1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serialCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>incrementSerialCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Labels</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Serializedproduct</name>
        <choiceText>Serialized Product 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>01t5C000007DUzdQAG</stringValue>
        </value>
    </choices>
    <choices>
        <name>X001</name>
        <choiceText>001</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>001</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2x4</name>
        <choiceText>2x4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2x4</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4x6</name>
        <choiceText>4x6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4x6</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Number_of_Labels</name>
        <label>Number of Labels</label>
        <locationX>463</locationX>
        <locationY>685</locationY>
        <defaultConnector>
            <targetReference>Add_new_serialized_product_to_list</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>startNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Number_of_Serialized_Products_to_Create</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Serialized_Products</targetReference>
            </connector>
            <label>Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Serialized_Product_Found</name>
        <label>Serialized Product Found?</label>
        <locationX>985</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Create_Serialized_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Serialized_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Item</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Template_Choice</name>
        <label>Template Choice</label>
        <locationX>804</locationX>
        <locationY>961</locationY>
        <defaultConnector>
            <targetReference>Label_Assign_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2_x_4_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Label_Template_Size</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X2x4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Label_Assign</targetReference>
            </connector>
            <label>2 x 4 yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>was_product_item_found</name>
        <label>was product item found?</label>
        <locationX>851</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Serialized_Product_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Item</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>getLocations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </filters>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>printLoc</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TSS_StickIt_MR1__Printer__c</picklistField>
        <picklistObject>TSS_StickIt_MR1__StickIt_Queue__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>productlineitems</name>
        <dataType>String</dataType>
        <displayField>Product_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>ProductRequestLineItem</object>
        <valueField>Product2Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>add1</name>
        <dataType>Number</dataType>
        <expression>{!startNumber} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>autonuminit</name>
        <dataType>Number</dataType>
        <expression>{!convertautonum}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>convertautonum</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Get_Serial_Autonum.AutoNumber__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>incrementSerialCount</name>
        <dataType>Number</dataType>
        <expression>{!serialCount}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Serial</name>
        <dataType>Number</dataType>
        <expression>{!Get_Product_Item.QuantityOnHand} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>serialName</name>
        <dataType>String</dataType>
        <expression>{!get_products.Product2.Name} &amp; &apos;-&apos; &amp; {!get_products.SerialNumber}</expression>
    </formulas>
    <interviewLabel>Create Serialized Products from Product Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Serialized Products from Product Request</label>
    <loops>
        <name>get_products</name>
        <label>get products</label>
        <locationX>1062</locationX>
        <locationY>977</locationY>
        <collectionReference>Get_ser</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>settotrue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Price_Book_Entries</name>
        <label>Loop through Price Book Entries</label>
        <locationX>1725</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Price_Books_Entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_PB_Entries</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Entries</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Entries</name>
        <label>Create Entries</label>
        <locationX>1872</locationX>
        <locationY>621</locationY>
        <connector>
            <targetReference>Create_Product_Item_0</targetReference>
        </connector>
        <inputReference>pbEntryMulti</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Item</name>
        <label>Create Product Item</label>
        <locationX>1298</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>Assign_Product_Item_0</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Serialized_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Item_0</name>
        <label>Create Product Item</label>
        <locationX>1641</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Assign_Product_Item_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Create_Serialized_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Serialized_Product</name>
        <label>Create Serialized Product</label>
        <locationX>1253</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Price_Books_Entries</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Product_Name.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Family</field>
            <value>
                <elementReference>Get_Product_Name.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsSerialized</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Product_Name.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type_Sub__c</field>
            <value>
                <elementReference>Get_Product_Name.Product_Type_Sub__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Get_Product_Name.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityUnitOfMeasure</field>
            <value>
                <elementReference>Get_Product_Name.QuantityUnitOfMeasure</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Serialized_Products</name>
        <label>Create Serialized Products</label>
        <locationX>533</locationX>
        <locationY>961</locationY>
        <connector>
            <targetReference>Get_ser</targetReference>
        </connector>
        <inputReference>collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Line_Item</name>
        <label>Get Line Item</label>
        <locationX>706</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Products</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequestLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price_Books_Entries</name>
        <label>Get Price Books Entries</label>
        <locationX>1443</locationX>
        <locationY>425</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Price_Book_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Name.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Item</name>
        <label>Get Product Item</label>
        <locationX>1229</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>was_product_item_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Serialized_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Name</name>
        <label>Get Product Name</label>
        <locationX>821</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Serialized_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Products</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ser</name>
        <label>Get ser</label>
        <locationX>720</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Template_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Printed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Serial_Autonum</name>
        <label>Get Serial Autonum</label>
        <locationX>589</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Line_Item</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <sortField>AutoNumber__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Serialized_Product</name>
        <label>Get Serialized Product</label>
        <locationX>1014</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Name.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSerialized</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Collection</name>
        <label>Update Collection</label>
        <locationX>1177</locationX>
        <locationY>1165</locationY>
        <connector>
            <targetReference>Serialized_Products_Created</targetReference>
        </connector>
        <inputReference>printListFinal</inputReference>
    </recordUpdates>
    <screens>
        <name>Create_Product_Labels</name>
        <label>Create Product Labels</label>
        <locationX>432</locationX>
        <locationY>292</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Serial_Autonum</targetReference>
        </connector>
        <fields>
            <name>Print_Location</name>
            <choiceReferences>printLoc</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Print Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <choiceReferences>getLocations</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Products</name>
            <choiceReferences>productlineitems</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Products</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Label_Template_Size</name>
            <choiceReferences>X2x4</choiceReferences>
            <choiceReferences>X4x6</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>X4x6</defaultSelectedChoiceReference>
            <fieldText>Label Template Size</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Number_of_Serialized_Products_to_Create</name>
            <dataType>Number</dataType>
            <fieldText>Number of Serialized Products to Create</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Serialized_Products_Created</name>
        <label>Serialized Products Created</label>
        <locationX>1520</locationX>
        <locationY>1163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Serialized Products created and ready to print!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>102</locationY>
        <connector>
            <targetReference>Create_Product_Labels</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>labelChosen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>multiSerial</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>pbEntryMulti</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PriceBookEntryVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>printList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>printListFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>productItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>productItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serialCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SerializedProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>singleSerialProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>startNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
