InventoryManagement/force-app/src/flows/Create_Serialized_Products.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>convert_number_of_sp_to_string</name>
        <label>convert number of sp to string</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <actionName>ConvertIntegerToString</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>RequestInt</name>
            <value>
                <elementReference>Enter_number_of_Serialized_Products_to_create</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertIntegerToString</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AddToInsertSP</name>
        <label>AddToInsertSP</label>
        <locationX>138</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SPToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_number_of_sp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_empty</name>
        <label>assign empty</label>
        <locationX>94</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>SPToInsert</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>SPToInsert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_counter_plus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignbooltofalse</name>
        <label>assignbooltofalse</label>
        <locationX>94</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>boolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>add_more_products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AddToInsertSP</name>
        <label>Copy 1 of AddToInsertSP</label>
        <locationX>490</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>SPToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_loop_over_number_of_sp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_counter_plus</name>
        <label>Copy 1 of counter plus</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_SPInstance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SPInstance</name>
        <label>Copy 1 of SPInstance</label>
        <locationX>490</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>SP.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Product.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.ProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>create_PI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SerialNumberforNewSP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.Product_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.SP_created_frm_btn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.Total_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.Serialized_Label_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_AddToInsertSP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_counter_plus</name>
        <label>Copy 2 of counter plus</label>
        <locationX>94</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignbooltofalse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counter_plus</name>
        <label>counter plus</label>
        <locationX>138</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SPInstance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SPInstance</name>
        <label>SPInstance</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>SP.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Product.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.ProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_PI.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.SerialNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SerialNumberForSP</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.Product_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.SP_created_frm_btn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.Total_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.Serialized_Label_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SP.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Work_Order.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToInsertSP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>test</name>
        <label>test</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>numberOfSPs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>convert_number_of_sp_to_string.RequestResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Product_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>add_more_products</name>
        <label>add more products</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_more</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Data</targetReference>
            </connector>
            <label>Add more</label>
        </rules>
    </decisions>
    <decisions>
        <name>add_more_products1</name>
        <label>add more products</label>
        <locationX>226</locationX>
        <locationY>1922</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>assign_bool_to_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_empty</targetReference>
            </connector>
            <label>assign bool to false</label>
        </rules>
    </decisions>
    <decisions>
        <name>isPIFound</name>
        <label>isPIFound</label>
        <locationX>226</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>create_PI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_PI_found_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_PI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_number_of_sp</targetReference>
            </connector>
            <label>is PI found yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GetLocations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Warehouse</stringValue>
            </value>
        </filters>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductsFromPRLI</name>
        <dataType>String</dataType>
        <displayField>Product_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serialized__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductRequestLineItem</object>
        <valueField>Product2Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SerialNumberforNewSP</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW()) &amp; {!Copy_2_of_loop_over_number_of_sp} &amp; TEXT({!counter})</expression>
    </formulas>
    <formulas>
        <name>SerialNumberForSP</name>
        <dataType>String</dataType>
        <expression>TEXT(NOW()) &amp; {!loop_over_number_of_sp} &amp; TEXT({!counter})</expression>
    </formulas>
    <interviewLabel>Create Serialized Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Serialized Products - using btn</label>
    <loops>
        <name>Copy_2_of_loop_over_number_of_sp</name>
        <label>Copy 2 of loop over number of sp</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <collectionReference>numberOfSPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_counter_plus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Insert_SP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_over_number_of_sp</name>
        <label>loop over number of sp</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>numberOfSPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>counter_plus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_SP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Insert_SP</name>
        <label>Copy 1 of Insert SP</label>
        <locationX>402</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>SPToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_PI</name>
        <label>create PI</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_2_of_loop_over_number_of_sp</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Select_Location.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Select_Product.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Insert_SP</name>
        <label>Insert SP</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>SPToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_PI</name>
        <label>get PI</label>
        <locationX>226</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isPIFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Product.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Location.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Request</name>
        <label>Get Product Request</label>
        <locationX>226</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>226</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request.WorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Get_Data</name>
        <label>Get Data</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>convert_number_of_sp_to_string</targetReference>
        </connector>
        <fields>
            <name>Select_Location</name>
            <choiceReferences>GetLocations</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Location</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Select_Product</name>
            <choiceReferences>ProductsFromPRLI</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Product</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Enter_number_of_Serialized_Products_to_create</name>
            <dataType>Number</dataType>
            <fieldText>Enter number of Serialized Products to create</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Total Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>226</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>add_more_products1</targetReference>
        </connector>
        <fields>
            <name>success</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;em&gt;Serialized Product were created and transferred Successfully.&lt;u&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_more_Serialized_Products</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Create more Serialized Products?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>add_more_products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>serialNumber</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!get_PI.Id}{!loop_over_number_of_sp}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>numberOfSP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberOfSPs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>SPToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
</Flow>
