InventoryManagement/force-app/src/flows/Material_Return.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>ChoiceOfSP</name>
        <collectionReference>SerializedProducts</collectionReference>
        <dataType>String</dataType>
        <displayField>SerialNumber</displayField>
        <object>SerializedProduct</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>productstoreturn</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceAppointments</name>
        <dataType>String</dataType>
        <displayField>AppointmentNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AppointmentNumber</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SourceLocation</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Material Return</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Product_Transfer</name>
        <label>Create Product Transfer</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>InsertedTransferId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Product_Transfer_State</targetReference>
        </connector>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>Select_Destination_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>Select_Source_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceProductItemId</field>
            <value>
                <elementReference>productitem.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Transfer_State</name>
        <label>Create Product Transfer State</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Action</field>
            <value>
                <stringValue>Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductTransferId</field>
            <value>
                <elementReference>InsertedTransferId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerializedProductId</field>
            <value>
                <elementReference>ProductForTransfer.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransferState</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransferState</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Items</name>
        <label>Get Product Items</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_SP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsProduct2Serialized</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Products_to_Return1</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Source_Location</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>productitem</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_SP</name>
        <label>Get Related SP</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_SP1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>productitem.Id</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>SerializedProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ProductItemId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SO</name>
        <label>Get SP</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Product_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scan_Serialized_Product</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>ProductForTransfer</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>return_screen</name>
        <label>return screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Product_Items</targetReference>
        </connector>
        <fields>
            <name>Select_Products_to_Return1</name>
            <choiceReferences>productstoreturn</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Products to Return</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Source_Location</name>
            <choiceReferences>SourceLocation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Source Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Destination_Location</name>
            <choiceReferences>SourceLocation</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Destination Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_SP1</name>
        <label>Select SP</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_SO</targetReference>
        </connector>
        <fields>
            <name>Scan_Serialized_Product</name>
            <dataType>String</dataType>
            <fieldText>Scan Serialized Product</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>return_screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InsertedProductTransfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>InsertedTransferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Loop</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProductForTransfer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>productitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>selectedsps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>SerializedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>test11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
