InventoryManagement/force-app/src/flows/PRLI_flow_for_Price.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_price</name>
        <label>assign price</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>loop_for_sp.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>price</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_update</name>
        <label>assign to update</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>spToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_for_sp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_sp</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>price</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Price__c} / {!$Record.QuantityRequested}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>PRLI flow for Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRLI flow for Price</label>
    <loops>
        <name>loop_for_sp</name>
        <label>loop for sp</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_sp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_sp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_sp</name>
        <label>get sp</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_for_sp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_sp</name>
        <label>update sp</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>spToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_sp</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>QuantityRequested</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Price__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductRequestLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>spToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
</Flow>
