InventoryManagement/force-app/src/flows/Service_Appointment_Status_Update_Work_Order.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_WO_Status_Back_to_RTS</name>
        <label>Assign WO Status Back to RTS</label>
        <locationX>1087</locationX>
        <locationY>625</locationY>
        <assignmentItems>
            <assignToReference>WO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open - Unscheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Lead_Technician__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Scheduling_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reschedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_Status_Completed</name>
        <label>Assign WO Status Completed</label>
        <locationX>616</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>WO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open - Service Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_Status_Dispatched</name>
        <label>Assign WO Status Dispatched</label>
        <locationX>364</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>WO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open - In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_Status_Scheduled</name>
        <label>Assign WO Status Scheduled</label>
        <locationX>326</locationX>
        <locationY>754</locationY>
        <assignmentItems>
            <assignToReference>WO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open - Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Scheduling_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Scheduled_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduledDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WO_Status_Truck_Roll_Reschedule</name>
        <label>Assign WO Status Truck Roll/Reschedule</label>
        <locationX>785</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>WO.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open - Service Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WO.Return_Visit_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Work_Order</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Determine_Status</name>
        <label>Determine Status</label>
        <locationX>651</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_was_the_prior_status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>Dispatched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_Dispatched</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Dispatched</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_Completed</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End Job - TruckRoll</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_Truck_Roll_Reschedule</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Truck Roll</label>
        </rules>
        <rules>
            <name>Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End Job - Reschedule Needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_Truck_Roll_Reschedule</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Cannot Complete</label>
        </rules>
        <rules>
            <name>Back_to_RTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SA_Assigned_Technician</targetReference>
            </connector>
            <label>Back to RTS</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_was_the_prior_status</name>
        <label>What was the prior status?</label>
        <locationX>142</locationX>
        <locationY>399</locationY>
        <defaultConnector>
            <targetReference>Assign_WO_Status_Scheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AlreadyScheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Work_Order__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open - Scheduled</stringValue>
                </rightValue>
            </conditions>
            <label>Already Scheduled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ScheduledDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.SchedStartTime})</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Service Appointment Status Update Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment Status Update Work Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_SA_Assigned_Technician</name>
        <label>Update SA Assigned Technician</label>
        <locationX>1112</locationX>
        <locationY>390</locationY>
        <connector>
            <targetReference>Assign_WO_Status_Back_to_RTS</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_Technician__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>651</locationX>
        <locationY>863</locationY>
        <inputReference>WO</inputReference>
    </recordUpdates>
    <start>
        <locationX>525</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Determine_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>WO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
