InventoryManagement/force-app/src/flows/Update_PTs_when_SA_Dispatched.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignToUpdate</name>
        <label>AssignToUpdate</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>PTsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PT_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PT_updates</name>
        <label>PT updates</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>PT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_PT_fields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assigned_Resource.ServiceResource.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.Service_Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assigned_Resource.ServiceResourceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>update_is_Sent</name>
        <label>update is Sent</label>
        <locationX>264</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>loop_on_updated_PTs.IsSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_PT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_SP_is_to_be_added</name>
        <label>Check if SP is to be added</label>
        <locationX>396</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>update_PT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_PTS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_updated_PTs.Serialized_Product_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_PTS</targetReference>
            </connector>
            <label>Add PTS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update PTs when SA Dispatched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update PTs when SA Dispatched</label>
    <loops>
        <name>loop_on_updated_PTs</name>
        <label>loop on updated PTs</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <collectionReference>PTsToUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_SP_is_to_be_added</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Update_PT_fields</name>
        <label>Update PT fields</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_PTs_for_Related_WO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PT_updates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PTs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_PTS</name>
        <label>create PTS</label>
        <locationX>264</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>update_is_Sent</targetReference>
        </connector>
        <inputAssignments>
            <field>Action</field>
            <value>
                <stringValue>Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductTransferId</field>
            <value>
                <elementReference>loop_on_updated_PTs.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerializedProductId</field>
            <value>
                <elementReference>loop_on_updated_PTs.Serialized_Product_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransferState</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransferState</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Assigned_Resource</name>
        <label>Get Assigned Resource</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PT_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PTs_for_Related_WO</name>
        <label>Get PTs for Related WO</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assigned_Resource</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (4 OR 2) AND 5</filterLogic>
        <filters>
            <field>DestinationLocationId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProductRequestId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RMA_Request__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SP_created_frm_btn__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductTransfer</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_PT</name>
        <label>update PT</label>
        <locationX>396</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>loop_on_updated_PTs</targetReference>
        </connector>
        <inputReference>loop_on_updated_PTs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PTs</name>
        <label>Update PTs</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>loop_on_updated_PTs</targetReference>
        </connector>
        <inputReference>PTsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PTs_for_Related_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dispatched</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentRecordId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ProductTransferInstance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>PT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>PTsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
</Flow>
