InventoryManagement/force-app/src/flows/Update_Overall_Quantity_Consumed_on_PC.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_SP_quantity_to_resource</name>
        <label>Add SP quantity to resource</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OverallConsumedQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SP.UsedQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PC_overall_quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_quantity_to_resource</name>
        <label>Assign Existing quantity to resource</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>OverallConsumedQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PC.Overall_Quantity_Consumed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SP</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Overall Quantity Consumed on PC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Overall Quantity Consumed on PC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PC</name>
        <label>Get PC</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Existing_quantity_to_resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductConsumedId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductConsumed</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SP</name>
        <label>Get SP</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_SP_quantity_to_resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SerializedProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PC_overall_quantity</name>
        <label>Update PC overall quantity</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductConsumedId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Quantity_Consumed__c</field>
            <value>
                <elementReference>OverallConsumedQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>ProductConsumed</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConsumedState</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumed</stringValue>
            </value>
        </filters>
        <object>ProductConsumedState</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OverallConsumedQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
