InventoryManagement/force-app/src/flows/Update_Quantity_Of_Serial_Product_Items.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Type</name>
        <label>Type</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Serialized_Label_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Product Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Product_Item</targetReference>
            </connector>
            <label>Product Request</label>
        </rules>
        <rules>
            <name>RMA_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Serialized_Label_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RMA Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Product_Item</targetReference>
            </connector>
            <label>RMA Request</label>
        </rules>
        <rules>
            <name>Stock</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Serialized_Label_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stock</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Product_Item</targetReference>
            </connector>
            <label>Stock</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>allocRma</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity_of_Product__c} +{!$Record.ProductItem.Allocated_Inventory__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>prodtot</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ProductItem.Allocated_Inventory__c} + {!$Record.Quantity_of_Product__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Quantitytotal</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity_of_Product__c} + {!$Record.ProductItem.Overall_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>rmatotal</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity_of_Product__c} + {!$Record.ProductItem.Overall_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>stockquant</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Quantity_of_Product__c} + {!$Record.ProductItem.Overall_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Quantity Of Serial Product Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quantity Of Serial Product Items</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Product_Item</name>
        <label>Copy 1 of Update Product Item</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocated_Inventory__c</field>
            <value>
                <elementReference>allocRma</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>rmatotal</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Product_Item</name>
        <label>Copy 2 of Update Product Item</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>stockquant</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Product_Item</name>
        <label>Update Product Item</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Allocated_Inventory__c</field>
            <value>
                <elementReference>prodtot</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>Quantitytotal</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quantity_of_Product__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
