InventoryManagement/force-app/src/flows/Update_Overall_Quantity_on_Parents.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Is_Serialized</name>
        <label>Is Serialized</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Update_PI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Is_Serialized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Serialized_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SP</targetReference>
            </connector>
            <label>Outcome 1 of Is Serialized</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>variance</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Serialized_Product__r.Total_Quantity__c} - {!$Record.Serialized_Product__r.Overall_Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Overall Quantity on Parents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Overall Quantity on Parents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_PI</name>
        <label>Update PI</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Item__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>$Record.Actual_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SP</name>
        <label>Update SP</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Serialized_Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>$Record.Actual_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Variance__c</field>
            <value>
                <elementReference>variance</elementReference>
            </value>
        </inputAssignments>
        <object>SerializedProduct</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Serialized</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Cycle_Count__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
