InventoryManagement/force-app/src/flows/Verify_Count_on_PI_and_Cycle_Count.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignCount_on_PI</name>
        <label>assignCount_on_PI</label>
        <locationX>1230</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>count_SP_on_PI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getSerializedProds_on_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_SP_on_CycleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getSerializedProds_on_CycleCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionOfMatching</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Serialized_or_not</name>
        <label>Check if Serialized or not</label>
        <locationX>592</locationX>
        <locationY>142</locationY>
        <defaultConnector>
            <targetReference>Get_related_PI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Serialized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Serialized_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSerializedProds_on_Product</targetReference>
            </connector>
            <label>Is Serialized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Matched</name>
        <label>Count Matched</label>
        <locationX>613</locationX>
        <locationY>453</locationY>
        <defaultConnector>
            <targetReference>Update_CCV_Count_matched_or_not_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matched1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Actual_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_related_PI.QuantityOnHand</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CCV_Count_matched_or_not</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionOfMatching</name>
        <label>Decision_OfMatching</label>
        <locationX>1222</locationX>
        <locationY>581</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_SP_on_CycleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>count_SP_on_PI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCCV_uponMatch</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
        <rules>
            <name>Not_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_SP_on_CycleCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>count_SP_on_PI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCCV_uponMissMatch</targetReference>
            </connector>
            <label>Not Matched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Verify Count on PI and Cycle Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Count on PI and Cycle Count</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_PI</name>
        <label>Get related PI</label>
        <locationX>623</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Matched</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSerializedProds_on_CycleCount</name>
        <label>getSerializedProds_on_CycleCount</label>
        <locationX>1230</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCount_on_PI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Item__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Count_Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle_Count_Version__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Count__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSerializedProds_on_Product</name>
        <label>getSerializedProds_on_Product</label>
        <locationX>939</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSerializedProds_on_CycleCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Item__r.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CCV_Count_matched_or_not</name>
        <label>Update CCV Count matched or not</label>
        <locationX>621</locationX>
        <locationY>664</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle_Count_Version__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_count_matched__c</field>
            <value>
                <stringValue>Matched</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle_Count_Version__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CCV_Count_matched_or_not_0</name>
        <label>Update CCV Count matched or not</label>
        <locationX>788</locationX>
        <locationY>454</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle_Count_Version__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_count_matched__c</field>
            <value>
                <stringValue>Not Matched</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle_Count_Version__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCCV_uponMatch</name>
        <label>updateCCV_uponMatch</label>
        <locationX>1232</locationX>
        <locationY>801</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle_Count_Version__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_count_matched__c</field>
            <value>
                <stringValue>Matched</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle_Count_Version__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCCV_uponMissMatch</name>
        <label>updateCCV_uponMissMatch</label>
        <locationX>1425</locationX>
        <locationY>559</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle_Count_Version__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_count_matched__c</field>
            <value>
                <stringValue>Not Matched</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle_Count_Version__c</object>
    </recordUpdates>
    <start>
        <locationX>160</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_Serialized_or_not</targetReference>
        </connector>
        <object>Cycle_Count__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>count_SP_on_CycleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>count_SP_on_PI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
