InventoryManagement/force-app/src/flows/WW_Technician_Inventory_Return_RMA_Pull_Material_Sub_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_PT_2_PTs</name>
        <label>Add PT 2 PTs</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory2Pull2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Transfer</name>
        <label>Set Product Transfer</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>PT.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Service_Resource.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory2Pull2.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.QuantitySent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_to_Pull2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.RMA_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RMA_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.RMA_Request_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory2Pull2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.Service_Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Service_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.SourceProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Product_Item2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarehouseIdFromParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_to_Pull2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.ReceivedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.IsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RMA_Request.Work_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PT_2_PTs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>WW. Technician Inventory Return RMA (Pull Material) Sub Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WW. Technician Inventory Return RMA (Pull Material) Sub Flow</label>
    <loops>
        <name>Inventory2Pull2</name>
        <label>Inventory2Pull2</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Non_Serialized_RMALIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Product_Item2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Transfers2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Product_Transfers2</name>
        <label>Create Product Transfers2</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>PTs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Product_Item2</name>
        <label>2 Find Product Item</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory_to_Pull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Service_Resource.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory2Pull2.Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Service_Resource</name>
        <label>Find Service Resource</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Warehouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TechnicianIdFromParent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Serialized_RMALIs</name>
        <label>Get Non Serialized RMALIs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RMA_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serialized__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RMA_Request_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RMA_Request</name>
        <label>Get RMA Request</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Serialized_RMALIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RMA_Requests__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warehouse</name>
        <label>Get Warehouse</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory2Pull2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WarehouseIdFromParent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Inventory_to_Pull</name>
        <label>Inventory to Pull</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Product_Transfer</targetReference>
        </connector>
        <fields>
            <name>ProductDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 16px; color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;For Non-Serialized Products&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 16px; color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Inventory Transfer Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Product Name: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Inventory2Pull2.Product__r.Name}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Quantity in Tech Inventory:&lt;/strong&gt; {!Find_Product_Item2.QuantityOnHand}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity_to_Pull2</name>
            <dataType>Number</dataType>
            <fieldText>Quantity to Pull</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 22px;&quot;&gt;Non-Serialized Materials Have Been Successfully Pulled Back From Technician and Material Return Has Been Created!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RMA_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MRLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Material_Return_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>MRLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Material_Return_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>PTs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechnicianIdFromParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WarehouseIdFromParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
