InventoryManagement/force-app/src/flows/XX_Technician_Inventory_Return_New.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_MRLI_SPs_to_List</name>
        <label>Add MRLI &amp; SPs to List</label>
        <locationX>402</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>MRLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MRLI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>List_SP_for_MRLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DataTable_SPs.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Products2Pull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PT_to_PT_List</name>
        <label>Add PT to PT_List</label>
        <locationX>600</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>var_list_PT</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_list_selected_SPs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DataTable_SPs.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Material_Return_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PTS_to_PTS_List</name>
        <label>Add PTS to PTS_List</label>
        <locationX>578</locationX>
        <locationY>4502</locationY>
        <assignmentItems>
            <assignToReference>var_list_PTS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PTS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_selected_SPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_PI_at_Source_Location</name>
        <label>Assign Count of PI at Source Location</label>
        <locationX>600</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>var_Count_PI_at_SourceLocation</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_PI_on_Source_Location</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PI_Exists_at_Source_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_SP</name>
        <label>Assign Count of SP</label>
        <locationX>968</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>var_Count_SP_per_Product</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Serialized_Products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_SP_greater_than_zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Warehouse_Technician</name>
        <label>Assign Current Warehouse &amp; Technician</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_Technician</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request.Service_Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DestinationLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request.SourceLocationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Serialized_PRLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Tech_Warehouse</name>
        <label>Assign New Tech &amp; Warehouse</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>var_DestinationLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correct_Warehouse.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_Technician</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correct_Technician.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Serialized_PRLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PT_for_Receiving</name>
        <label>Assign PT for Receiving</label>
        <locationX>1674</locationX>
        <locationY>6410</locationY>
        <assignmentItems>
            <assignToReference>var_PT.IsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PT.QuantitySent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>R_Loop_Product_Transfers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>R_Add_PT_to_List_PT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_SP</name>
        <label>Assign Selected SP</label>
        <locationX>787</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>var_Count_of_selected_SP</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DataTable_SPs.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_SP_greater_than_zero_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Transfer_Assignments</name>
        <label>Product Transfer Assignments</label>
        <locationX>600</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>var_PT.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_DestinationLocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.QuantitySent</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DataTable_SPs.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready For Pickup</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request.WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.ProductRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.ProductRequestLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products2Pull.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products2Pull.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.Material_Return__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Will_you_be_returning_this_to_the_material_vendor2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PT.Pull_Material__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PT_to_PT_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>R_Add_PT_to_List_PT</name>
        <label>R_Add PT  to List PT</label>
        <locationX>1674</locationX>
        <locationY>6518</locationY>
        <assignmentItems>
            <assignToReference>var_List_PT_R</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>R_Loop_Product_Transfers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>R_Add_PTS_to_PTS_List</name>
        <label>R_Add PTS to PTS_List</label>
        <locationX>1762</locationX>
        <locationY>6134</locationY>
        <assignmentItems>
            <assignToReference>var_List_PTS_R</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_PTS_R</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>R_Loop_on_selected_SPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>R_Set_Product_Transfer_State</name>
        <label>R_Set Product Transfer State</label>
        <locationX>1762</locationX>
        <locationY>6026</locationY>
        <assignmentItems>
            <assignToReference>var_PTS_R.Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Receive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PTS_R.SerializedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>R_Loop_on_selected_SPs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PTS_R.TransferState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PTS_R.ProductTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>R_Loop_Product_Transfers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>R_Add_PTS_to_PTS_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MRLI</name>
        <label>Set MRLI</label>
        <locationX>534</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>MRLI.Material_Return__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Material_Return</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products2Pull.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Product_Request_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products2Pull.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Source_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products2Pull.Parent.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Product_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Product_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Quantity_Returned__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DataTable_SPs.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_MRLI_SPs_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MRLI_0</name>
        <label>Set MRLI</label>
        <locationX>270</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>MRLI.Material_Return__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Material_Return.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products2Pull.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Product_Request_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products2Pull.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Source_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Products2Pull.Parent.DestinationLocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Product_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Product_Item.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Quantity_Returned__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DataTable_SPs.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_MRLI_SPs_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Transfer_State</name>
        <label>Set Product Transfer State</label>
        <locationX>578</locationX>
        <locationY>4394</locationY>
        <assignmentItems>
            <assignToReference>var_PTS.Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PTS.SerializedProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_selected_SPs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PTS.TransferState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_PTS.ProductTransferId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Product_Transfers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PTS_to_PTS_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_false</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>choice_true</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Is_Non_Serialized_PRLI</name>
        <label>Check Is Non Serialized PRLI</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Non_Serialized_Products_not_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Non_Serialized1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Non_Serialized_PRLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Non_Serialized_Products1</targetReference>
            </connector>
            <label>Is Non Serialized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Serialized_Products</name>
        <label>Check Serialized Products</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Non_Serialized_PRLI_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For Non-Serialized Products</defaultConnectorLabel>
        <rules>
            <name>For_Serialized_Products</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Serialized_PRLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Products2Pull</targetReference>
            </connector>
            <label>For Serialized Products</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_var_list_PT</name>
        <label>Check var list PT</label>
        <locationX>182</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>Check_Var_List_PTS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_var_list_PT_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_list_PT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Transfers</targetReference>
            </connector>
            <label>Is var list PT not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Var_List_PT1</name>
        <label>Check Var List PT</label>
        <locationX>182</locationX>
        <locationY>7886</locationY>
        <defaultConnector>
            <targetReference>Get_Non_Serialized_PRLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Var_List_PT_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_list_PT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Var List PT is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Var_List_PT_R</name>
        <label>Check Var List PT R</label>
        <locationX>1234</locationX>
        <locationY>7118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Var_List_PT_R_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_List_PT_R</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PT_for_Receiving</targetReference>
            </connector>
            <label>Var List PT R is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Var_List_PTS</name>
        <label>Check Var List PTS</label>
        <locationX>182</locationX>
        <locationY>4946</locationY>
        <defaultConnector>
            <targetReference>Check_Var_List_PT1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Var_List_PTS_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_list_PTS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Transfer_States</targetReference>
            </connector>
            <label>Var List PTS Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Var_List_PTS_R</name>
        <label>Check Var List PTS R</label>
        <locationX>1234</locationX>
        <locationY>6710</locationY>
        <defaultConnector>
            <targetReference>Check_Var_List_PT_R</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Var_List_PTS_R_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_List_PTS_R</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Product_Transfer_States_0</targetReference>
            </connector>
            <label>Var List PTS R Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Correct_Info_Verification</name>
        <label>Correct Info Verification</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_New_Tech_Warehouse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Good</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InfoVerification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Warehouse_Technician</targetReference>
            </connector>
            <label>All Good</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_SP_greater_than_zero</name>
        <label>Count of SP greater than zero?</label>
        <locationX>968</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Products2Pull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_atleast_one_SP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_SP_per_Product</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inventory_Transfer</targetReference>
            </connector>
            <label>Has atleast one SP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_of_SP_greater_than_zero_0</name>
        <label>Count of SP greater than zero?</label>
        <locationX>787</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Products2Pull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_atleast_one_SP_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_of_selected_SP</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PI_on_Source_Location</targetReference>
            </connector>
            <label>Selected atleast 1 SP</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if the Product Transfer State belongs to the same Product Transfer by matching the Product / PI</description>
        <name>filter_PTS_per_PT</name>
        <label>filter PTS per PT</label>
        <locationX>710</locationX>
        <locationY>4286</locationY>
        <defaultConnector>
            <targetReference>Loop_on_selected_SPs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_selected_SPs.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Product_Transfers.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Product_Transfer_State</targetReference>
            </connector>
            <label>Product Matched</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Non_Serialized_PRLI</name>
        <label>Check Is Non Serialized PRLI</label>
        <locationX>182</locationX>
        <locationY>8294</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>R_Loop_Product_Transfers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Non_Serialized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Non_Serialized_PRLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_Non_Serialized_Products</targetReference>
            </connector>
            <label>Is Non Serialized</label>
        </rules>
    </decisions>
    <decisions>
        <name>Material_Return</name>
        <label>Material Return</label>
        <locationX>730</locationX>
        <locationY>5378</locationY>
        <defaultConnector>
            <targetReference>Copy_Update_isSent_on_PT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MR_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_created_PTs.Material_Return__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MRLI_in_PT</targetReference>
            </connector>
            <label>MR Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Material_Return_Exists</name>
        <label>Material Return Exists?</label>
        <locationX>402</locationX>
        <locationY>2786</locationY>
        <defaultConnector>
            <targetReference>Create_Material_Return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Material_Return</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MRLI_0</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Material_Return_Needed</name>
        <label>Material Return Needed</label>
        <locationX>600</locationX>
        <locationY>2462</locationY>
        <defaultConnector>
            <targetReference>Products2Pull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Will_you_be_returning_this_to_the_material_vendor2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PR_Status</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>PI_Exists_at_Source_Location</name>
        <label>PI Exists at Source Location?</label>
        <locationX>600</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Create_PI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PI_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Count_PI_at_SourceLocation</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Transfer_Assignments</targetReference>
            </connector>
            <label>PI_Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if the Product Transfer State belongs to the same Product Transfer by matching the Product / PI</description>
        <name>R_filter_PTS_per_PT</name>
        <label>R_filter PTS per PT</label>
        <locationX>1894</locationX>
        <locationY>5918</locationY>
        <defaultConnector>
            <targetReference>R_Loop_on_selected_SPs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>R_Product_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>R_Loop_on_selected_SPs.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>R_Loop_Product_Transfers.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>R_Set_Product_Transfer_State</targetReference>
            </connector>
            <label>R_Product Matched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>XX. Technician Inventory Return New {!$Flow.CurrentDateTime}</interviewLabel>
    <label>XX. Technician Inventory Return (Pull Material)</label>
    <loops>
        <name>Loop_created_PTs</name>
        <label>Loop_created_PTs</label>
        <locationX>50</locationX>
        <locationY>5270</locationY>
        <collectionReference>var_list_PT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Material_Return</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Var_List_PT1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This is to link to product transfer State to Product Transfer</description>
        <name>Loop_on_selected_SPs</name>
        <label>Loop_on_selected_SPs</label>
        <locationX>490</locationX>
        <locationY>4178</locationY>
        <collectionReference>var_list_selected_SPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>filter_PTS_per_PT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Product_Transfers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Product_Transfers</name>
        <label>Loop Product Transfers</label>
        <locationX>50</locationX>
        <locationY>4070</locationY>
        <collectionReference>var_list_PT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_on_selected_SPs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Var_List_PTS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Products2Pull</name>
        <label>Products2Pull</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Serialized_PRLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Product_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_var_list_PT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This is to link to product transfer State to Product Transfer</description>
        <name>R_Loop_on_selected_SPs</name>
        <label>R_Loop_on_selected_SPs</label>
        <locationX>1674</locationX>
        <locationY>5810</locationY>
        <collectionReference>var_list_selected_SPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>R_filter_PTS_per_PT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_PT_for_Receiving</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>R_Loop_Product_Transfers</name>
        <label>R_Loop Product Transfers</label>
        <locationX>1234</locationX>
        <locationY>5702</locationY>
        <collectionReference>var_list_PT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>R_Loop_on_selected_SPs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Var_List_PTS_R</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_MRLI_in_PT</name>
        <label>Update MRLI in PT</label>
        <locationX>226</locationX>
        <locationY>5486</locationY>
        <collectionReference>MRLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_MRLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_created_PTs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Material_Return</name>
        <label>Create Material Return</label>
        <locationX>534</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Set_MRLI</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Products2Pull.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Products2Pull.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Location__c</field>
            <value>
                <elementReference>Products2Pull.Parent.DestinationLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Request__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>Products2Pull.Parent.Vendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Products2Pull.WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>Material_Return__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_MRLI</name>
        <label>create MRLI</label>
        <locationX>50</locationX>
        <locationY>3854</locationY>
        <connector>
            <targetReference>Success_Screen_PT</targetReference>
        </connector>
        <inputReference>MRLIs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PI</name>
        <label>Create PI</label>
        <locationX>688</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Product_Transfer_Assignments</targetReference>
        </connector>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>var_DestinationLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Find_Product_Item.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityOnHand</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Transfer_States</name>
        <label>Create Product Transfer States</label>
        <locationX>50</locationX>
        <locationY>5054</locationY>
        <connector>
            <targetReference>Screen_PT_States</targetReference>
        </connector>
        <inputReference>var_list_PTS</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Transfer_States_0</name>
        <label>Create Product Transfer States</label>
        <locationX>1102</locationX>
        <locationY>6818</locationY>
        <connector>
            <targetReference>Screen_PT_States_for_Receiving</targetReference>
        </connector>
        <inputReference>var_List_PTS_R</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Transfers</name>
        <label>Create Product Transfers</label>
        <locationX>50</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>create_MRLI</targetReference>
        </connector>
        <inputReference>var_list_PT</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Product_Item</name>
        <label>Find Product Item</label>
        <locationX>968</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Serialized_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request.DestinationLocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Products2Pull.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Material_Return</name>
        <label>Get Material Return</label>
        <locationX>402</locationX>
        <locationY>2678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Material_Return_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Material_Return__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Serialized_PRLI</name>
        <label>Get Non Serialized PRLI</label>
        <locationX>182</locationX>
        <locationY>8186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Non_Serialized_PRLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serialized__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequestLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Serialized_PRLI_Check</name>
        <label>Get Non Serialized PRLI</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Is_Non_Serialized_PRLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serialized__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequestLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PI_on_Source_Location</name>
        <label>Get PI on Source Location</label>
        <locationX>600</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_of_PI_at_Source_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Product_Item.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DestinationLocation</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Request</name>
        <label>Get Product Request</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_the_Technician_Warehouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Serialized_PRLI</name>
        <label>Get Serialized PRLI</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Serialized_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serialized__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequestLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Serialized_Products</name>
        <label>Get Serialized Products</label>
        <locationX>968</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Count_of_SP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Product_Item.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Available</stringValue>
            </value>
        </filters>
        <filters>
            <field>Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Products2Pull.Product2.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_Update_isSent_on_PT</name>
        <label>Copy of Update_isSent_on_PT</label>
        <locationX>1234</locationX>
        <locationY>5486</locationY>
        <connector>
            <targetReference>Success_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_created_PTs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsSent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_isSent_on_PT</name>
        <label>Update_isSent_on_PT</label>
        <locationX>314</locationX>
        <locationY>5702</locationY>
        <connector>
            <targetReference>Update_MRLI_in_PT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_created_PTs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsSent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MRLI</name>
        <label>Update MRLI</label>
        <locationX>314</locationX>
        <locationY>5594</locationY>
        <connector>
            <targetReference>Update_isSent_on_PT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Transfer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_MRLI_in_PT.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quantity_Returned__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_created_PTs.QuantitySent</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Transfer__c</field>
            <value>
                <elementReference>Loop_created_PTs.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Material_Return_Line_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PR_Status</name>
        <label>Update_PR_Status</label>
        <locationX>402</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Get_Material_Return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Material Return Checked In</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PT_for_Receiving</name>
        <label>Update PT for Receiving</label>
        <locationX>1102</locationX>
        <locationY>7226</locationY>
        <connector>
            <targetReference>Success_Screen_0_0</targetReference>
        </connector>
        <inputReference>var_List_PT_R</inputReference>
    </recordUpdates>
    <screens>
        <name>For_Non_Serialized_Products</name>
        <label>For Non-Serialized Products</label>
        <locationX>50</locationX>
        <locationY>8402</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Non_Serialized_Pull_Products_Sub_Flow</targetReference>
        </connector>
        <fields>
            <name>NonSerialized</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;To Continue with the Non-Serialized products, Click Next!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>For_Non_Serialized_Products1</name>
        <label>For Non-Serialized Products</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Non_Serialized_Pull_Products_Sub_Flow1</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_NonSerialized</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;To Continue with the Non-Serialized products, Click Next!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Inventory_Transfer</name>
        <label>Inventory Transfer</label>
        <locationX>787</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_SP</targetReference>
        </connector>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 16px; color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Inventory Transfer Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 16px; color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Product Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Products2Pull.Product2.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Inter, Ubuntu, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Choose the Products you would like to send back to the technician.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-family: Inter, Ubuntu, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Note : &apos;The table below only shows products that have an Available status&apos;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Will_you_be_returning_this_to_the_material_vendor2</name>
            <choiceReferences>choice_true</choiceReferences>
            <choiceReferences>choice_false</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Will you be returning this to the material vendor?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DataTable_SPs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>SerializedProduct</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Serialized_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4cea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product_Name__c&quot;,&quot;guid&quot;:&quot;column-5735&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;SerialNumber&quot;,&quot;guid&quot;:&quot;column-ad64&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Serial Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Product_Request_Number__c&quot;,&quot;guid&quot;:&quot;column-cdd1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Product Request Number&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Non_Serialized_Products_not_found</name>
        <label>Non-Serialized Products not found</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NonSerializedNotFound</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;We are unable to proceed because non-serialized products are not available.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_PT_States</name>
        <label>Screen PT States</label>
        <locationX>50</locationX>
        <locationY>5162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_created_PTs</targetReference>
        </connector>
        <fields>
            <name>PTS_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Product Transfer States have been updated.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click Next to send the Product Transfer.!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_PT_States_for_Receiving</name>
        <label>Screen PT States for Receiving</label>
        <locationX>1102</locationX>
        <locationY>6926</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Var_List_PT_R</targetReference>
        </connector>
        <fields>
            <name>PTS_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Product Transfer States have been created for Receiving.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click Next to Receive the Product Transfer.!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>50</locationX>
        <locationY>7994</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Non_Serialized_PRLI</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Materials Have Been Successfully Pulled Back From Technician and Material Return Has Been Created!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Click Next to Receive the Products.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_0</name>
        <label>Success Screen</label>
        <locationX>1234</locationX>
        <locationY>5594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>R_Loop_Product_Transfers</targetReference>
        </connector>
        <fields>
            <name>SuccessMessage_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Materials Have Been Successfully Pulled Back From Technician and Material Return Has Been Created!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_0_0</name>
        <label>Success Screen</label>
        <locationX>1102</locationX>
        <locationY>7334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage_After_Receiving</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The Products have been received successfully! &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Click Finish to end the process.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_PT</name>
        <label>Success Screen - PT</label>
        <locationX>50</locationX>
        <locationY>3962</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Product_Transfers</targetReference>
        </connector>
        <fields>
            <name>Success_Message2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Product Transfer has been created.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Click Next to Update the Product Transfer States.!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verify_the_Technician_Warehouse</name>
        <label>Verify the Technician &amp; Warehouse</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Correct_Info_Verification</targetReference>
        </connector>
        <fields>
            <name>VerifyInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;IS THE FOLLOWING INFORMATION CORRECT?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Technician: {!Get_Product_Request.Service_Resource__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Warehouse: &lt;/strong&gt;{!Get_Product_Request.SourceLocation.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InfoVerification</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Correct_Technician</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Service_Resource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Correct Technician</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ProductRequest</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InfoVerification</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Correct_Warehouse</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>DestinationLocationId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Correct Warehouse</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ProductRequest</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InfoVerification</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Call &apos;XX. Technician Inventory Return&apos; sub flow to pull Non-serialized products.</description>
        <name>Non_Serialized_Pull_Products_Sub_Flow</name>
        <label>Non-Serialized Pull Products Sub Flow</label>
        <locationX>50</locationX>
        <locationY>8510</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>R_Loop_Product_Transfers</targetReference>
        </connector>
        <flowName>XX_Technician_Inventory_Return</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TechnicianIdFromParent</name>
            <value>
                <elementReference>var_Technician</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WarehouseIdFromParent</name>
            <value>
                <elementReference>var_DestinationLocation</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Call &apos;XX. Technician Inventory Return&apos; sub flow to pull Non-serialized products.</description>
        <name>Non_Serialized_Pull_Products_Sub_Flow1</name>
        <label>Non-Serialized Pull Products Sub Flow</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>R_Loop_Product_Transfers</targetReference>
        </connector>
        <flowName>XX_Technician_Inventory_Return</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TechnicianIdFromParent</name>
            <value>
                <elementReference>var_Technician</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>WarehouseIdFromParent</name>
            <value>
                <elementReference>var_DestinationLocation</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_Filter_Product_Transfer_States_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>List_SP_for_MRLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>MRLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Material_Return_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>MRLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Material_Return_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Count_Material_Return</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Count_of_selected_SP</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Count_PI_at_SourceLocation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Count_SP_per_Product</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_DestinationLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_list_PT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>var_List_PT_R</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>var_list_PTS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>var_List_PTS_R</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>var_list_selected_SPs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>var_PT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>var_PTS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>var_PTS_R</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransferState</objectType>
    </variables>
    <variables>
        <name>var_Technician</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
