flows/Add_Price_on_Serialized_Product.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_price</name>
        <label>assign price</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>loop_for_price_change_on_all.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>priceForSP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SPToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_for_price_change_on_all</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_for_price_change_on_all</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>priceForSP</name>
        <dataType>Currency</dataType>
        <expression>{!Get_PRLI.Price__c} / {!Get_PRLI.QuantityRequested}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Price on Serialized Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Price on Serialized Product</label>
    <loops>
        <name>loop_for_price_change_on_all</name>
        <label>loop for price change on all</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_related_SP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_SPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PRLI</name>
        <label>Get PRLI</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Request__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequestLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Price__c</queriedFields>
        <queriedFields>QuantityRequested</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_SP</name>
        <label>Get related SP</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_for_price_change_on_all</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Request__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Price</name>
        <label>Update Price</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_related_SP</targetReference>
        </connector>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>priceForSP</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_SPs</name>
        <label>update SPs</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <inputReference>SPToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PRLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Request__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SPToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
</Flow>
