flows/PT_Technician_to_Technician.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Scanned_Product</name>
        <label>Assign Scanned Product</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varScannedProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serProd.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Transfer_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_picklist_value</name>
        <label>Assign Selected picklist value</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varPicklistValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Service_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getLocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Selected_picklist_value</name>
        <label>Copy 1 of Assign Selected picklist value</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varPicklistValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Service_Resource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Product_Transfer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decideProductTransferRecordUpdate</name>
        <label>decideProductTransferRecordUpdate</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varStorePTState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PT_isSent_Button</targetReference>
            </connector>
            <label>PT created</label>
        </rules>
    </decisions>
    <decisions>
        <name>SP_found</name>
        <label>SP found</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Running_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serProd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Scanned_Product</targetReference>
            </connector>
            <label>Yes Found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>getLocations</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LocationType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Van</stringValue>
            </value>
        </filters>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>getServiceResLoca</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>T</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceResource</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>runningUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>PT Technician to Technician {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PT Technician to Technician</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Product_Transfer</name>
        <label>Copy 1 of Create Product Transfer</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>newProdTransferId</assignRecordIdToReference>
        <faultConnector>
            <targetReference>Error_creating_transfers</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>storeLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>pi.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <elementReference>Enter_quantity_to_transfer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>pi.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceProductItemId</field>
            <value>
                <elementReference>pi.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ready For Pickup</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Transfer</name>
        <label>Create Product Transfer</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>newProdTransferId</assignRecordIdToReference>
        <connector>
            <targetReference>create_Transfer_State</targetReference>
        </connector>
        <inputAssignments>
            <field>DestinationLocationId</field>
            <value>
                <elementReference>storeLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>serProd.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantitySent</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceLocationId</field>
            <value>
                <elementReference>serProd.Source_Location_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceProductItemId</field>
            <value>
                <elementReference>serProd.ProductItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Ready For Pickup</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordCreates>
    <recordCreates>
        <name>create_Transfer_State</name>
        <label>create Transfer State</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>varStorePTState</assignRecordIdToReference>
        <connector>
            <targetReference>decideProductTransferRecordUpdate</targetReference>
        </connector>
        <inputAssignments>
            <field>Action</field>
            <value>
                <stringValue>Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductTransferId</field>
            <value>
                <elementReference>newProdTransferId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerializedProductId</field>
            <value>
                <elementReference>serProd.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransferState</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>ProductTransferState</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_get_Service_Resource</name>
        <label>Copy 1 of get Service Resource</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Selected_picklist_value</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Records_not_found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Select_Service_Resource</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>storeLocation</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PI</name>
        <label>Get PI</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Product_Transfer_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Records_not_found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EnergyAid_Product_SKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scan_Serialized_Product</elementReference>
            </value>
        </filters>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>runningServiceResource.LocationId</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>pi</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>EnergyAid_Product_SKU__c</queriedFields>
        <queriedFields>QuantityOnHand</queriedFields>
        <queriedFields>ProductName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Running_User</name>
        <label>Get Running User</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PI</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Records_not_found</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>runningServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Serialized_Product</name>
        <label>Get Serialized Product</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SP_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Records_not_found</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scan_Serialized_Product</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputReference>serProd</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Product_Name__c</queriedFields>
        <queriedFields>Product_Request__c</queriedFields>
        <queriedFields>ProductItemId</queriedFields>
        <queriedFields>Source_Location_Id__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Service_Resource</name>
        <label>get Service Resource</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Product_Transfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Service_Resource</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputAssignments>
            <assignToReference>storeLocation</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getLocation</name>
        <label>getLocation</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_Driver__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPicklistValue</elementReference>
            </value>
        </filters>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>storeRes</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_PT_isSent_Button</name>
        <label>Update PT isSent Button</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newProdTransferId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsSent</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ProductTransfer</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Product_Transfer_Screen</name>
        <label>Product Transfer Screen</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_get_Service_Resource</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Scanned_Product_to_Transfer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>pi.ProductName</elementReference>
            </defaultValue>
            <fieldText>Scanned Product to Transfer</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_quantity_to_transfer</name>
            <dataType>Number</dataType>
            <fieldText>Enter quantity to transfer</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Copy_1_of_Select_Service_Resource</name>
            <choiceReferences>getServiceResLoca</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Service Resource</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_creating_transfers</name>
        <label>Error creating transfers</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Product Transfer was not created. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Transfer_Screen</name>
        <label>Product Transfer Screen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_picklist_value</targetReference>
        </connector>
        <fields>
            <name>Scanned_Product_to_Transfer</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>serProd.Product_Name__c</elementReference>
            </defaultValue>
            <fieldText>Scanned Product to Transfer</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Select_Service_Resource</name>
            <choiceReferences>getServiceResLoca</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Service Resource</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Records_not_found</name>
        <label>Records not found</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_records</name>
            <fieldText>&lt;p&gt;No Records found. Flow ended.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scan_Serialized_Product1</name>
        <label>Scan Product</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Serialized_Product</targetReference>
        </connector>
        <fields>
            <name>Scan_Serialized_Product</name>
            <dataType>String</dataType>
            <fieldText>Scan Product</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Scan_Serialized_Product1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newProdTransferId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pi</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>runningServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>serProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>serResVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>storeLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>storeRes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPicklistValue</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varScannedProduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varStorePTState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
