flows/Show_Error_on_Consumption_without_overall_quantity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Error_while_consumption</name>
        <label>Error while consumption</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <customErrorMessages>
            <errorMessage>Please add the Used Quantity of the serialized product using the quick action before consuming this product.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_if_Used_Quantity_is_null</name>
        <label>Check if Used Quantity is null</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Check_if_Used_Quantity_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SP.Overall_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_while_consumption</targetReference>
            </connector>
            <label>Outcome 1 of Check if Used Quantity is null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Show Error on Consumption without overall quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show Error on Consumption without overall quantity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SP</name>
        <label>Get SP</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Used_Quantity_is_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SerializedProductId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerializedProductId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ProductConsumedState</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
