flows/Update_Related_Product_Item_Quantities.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Calculate_Quantity</name>
        <label>Calculate Quantity</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OverallQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_SP.Remaining_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_SP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Calculate_Quantity</name>
        <label>Copy 1 of Calculate Quantity</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>OverallQuantity</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Loop_over_SP.Total_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OverallQuantity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_SP.Remaining_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_SP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_created_from_overall_quantity</name>
        <label>Check if created from overall quantity</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Calculate_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_over_SP.Created_from_Overall_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Calculate_Quantity</targetReference>
            </connector>
            <label>yes created</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Related Product Item Quantities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Related Product Item Quantities</label>
    <loops>
        <name>Loop_over_SP</name>
        <label>Loop over SP</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_SP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_created_from_overall_quantity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_product_item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_SP</name>
        <label>Get All SP</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_SP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductItemId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductItemId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_product_item</name>
        <label>update product item</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>OverallQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>ProductItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_SP</targetReference>
        </connector>
        <filterLogic>(3 AND 4) AND (1 OR 2 OR 5)</filterLogic>
        <filters>
            <field>Total_Quantity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Used_Quantity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Used_Quantity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Created_from_Overall_Quantity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OverallQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
