flows/Update_Quantity_on_Serialized_Products.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assignment_PI_fields</name>
        <label>Assignment PI fields</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>PI.Overall_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OverallQuantityForNonSP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_product_is_serialized</name>
        <label>Check if product is serialized</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Update_Quantity_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product is serialized</defaultConnectorLabel>
        <rules>
            <name>Product_is_not_serialized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SpId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PI</targetReference>
            </connector>
            <label>Product is non serialized</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>overallQuantity</name>
        <dataType>Number</dataType>
        <expression>{!scannedProd.Total_Quantity__c} - {!Enter_Used_Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OverallQuantityForNonSP</name>
        <dataType>Number</dataType>
        <expression>{!PI.QuantityOnHand} - {!Enter_Allocated_Used_Inventory}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>OverallQuantityForSP</name>
        <dataType>Number</dataType>
        <expression>{!totalQuantity} - {!Enter_Used_Quantity}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Update Quantity on Serialized Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Quantity on Serialized Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_PI</name>
        <label>Get PI</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Quantity_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductItemNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scan_Serialized_Product</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>PI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuantityOnHand</queriedFields>
        <queriedFields>Allocated_Inventory__c</queriedFields>
        <queriedFields>Overall_Quantity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_SP</name>
        <label>Get SP</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_product_is_serialized</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scan_Serialized_Product</elementReference>
            </value>
        </filters>
        <object>SerializedProduct</object>
        <outputAssignments>
            <assignToReference>SpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>productName</assignToReference>
            <field>Product_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>totalQuantity</assignToReference>
            <field>Total_Quantity__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update PI</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <inputReference>PI</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Serialized_Product</name>
        <label>Update Serialized Product</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SerialNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Scan_Serialized_Product</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Overall_Quantity__c</field>
            <value>
                <elementReference>OverallQuantityForSP</elementReference>
            </value>
        </inputAssignments>
        <object>SerializedProduct</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Update_Quantity_Screen</name>
        <label>Update Quantity on Product Item</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_PI_fields</targetReference>
        </connector>
        <fields>
            <name>QuantityonHand</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Quantity on Hand:&lt;/strong&gt; {!PI.QuantityOnHand}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InitialOverallQuantity</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Overall Quantity: &lt;/strong&gt;{!PI.Overall_Quantity__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Allocated_Used_Inventory</name>
            <dataType>Number</dataType>
            <fieldText>Enter Used Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Quantity_of_Serialized_Product</name>
        <label>Update Quantity of Serialized Product</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_SP</targetReference>
        </connector>
        <fields>
            <name>Scan_Serialized_Product</name>
            <dataType>String</dataType>
            <fieldText>Scan Product</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Quantity_Screen</name>
        <label>Update Quantity Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Serialized_Product</targetReference>
        </connector>
        <fields>
            <name>DIsplayDetail</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Product : {!productName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayStatus</name>
            <fieldText>&lt;p&gt;Status: {!status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>displayTotalQty</name>
            <fieldText>&lt;p&gt;Total Quantity : {!totalQuantity}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Used_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Enter Used Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Quantity_of_Serialized_Product</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scannedProd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>SP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SerializedProduct</objectType>
    </variables>
    <variables>
        <name>SpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
