flows/Verify_Count_on_PI_and_Cycle_Count_uponDeletion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignCount_on_PI</name>
        <label>assignCount_on_PI</label>
        <locationX>882</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>count_SP_on_PI</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getSerializedProds_on_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count_SP_on_CycleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getSerializedProds_on_CycleCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionOfMatching</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionOfMatching</name>
        <label>Decision_OfMatching</label>
        <locationX>523</locationX>
        <locationY>342</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_SP_on_CycleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>count_SP_on_PI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCCV_uponMatch</targetReference>
            </connector>
            <label>Matched</label>
        </rules>
        <rules>
            <name>Not_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count_SP_on_CycleCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>count_SP_on_PI</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCCV_uponMissMatch</targetReference>
            </connector>
            <label>Not Matched</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Verify Count on PI and Cycle Count_uponDeletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Count on PI and Cycle Count_uponDeletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getSerializedProds_on_CycleCount</name>
        <label>getSerializedProds_on_CycleCount</label>
        <locationX>869</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCount_on_PI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Item__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Count__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSerializedProds_on_Product</name>
        <label>getSerializedProds_on_Product</label>
        <locationX>731</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSerializedProds_on_CycleCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Item__r.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SerializedProduct</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCCV_uponMatch</name>
        <label>updateCCV_uponMatch</label>
        <locationX>366</locationX>
        <locationY>451</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle_Count_Version__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_count_matched__c</field>
            <value>
                <stringValue>Matched</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle_Count_Version__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCCV_uponMissMatch</name>
        <label>updateCCV_uponMissMatch</label>
        <locationX>671</locationX>
        <locationY>484</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle_Count_Version__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_count_matched__c</field>
            <value>
                <stringValue>Not Matched</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle_Count_Version__c</object>
    </recordUpdates>
    <start>
        <locationX>349</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>getSerializedProds_on_Product</targetReference>
        </connector>
        <object>Cycle_Count__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>count_SP_on_CycleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>count_SP_on_PI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
