flows/XX_Technician_Inventory_Return.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_MRLI_to_MRLIs</name>
        <label>Add MRLI to MRLIs</label>
        <locationX>264</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>MRLIs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MRLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inventory2Pull2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PT_2_PTs</name>
        <label>Add PT 2 PTs</label>
        <locationX>396</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PTs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Material_Return_Needed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_MRLI</name>
        <label>Set MRLI</label>
        <locationX>264</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>MRLI.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory2Pull2.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Quantity_Returned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_to_Pull2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Product_Request_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory2Pull2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Source_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WarehouseIdFromParent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Product_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Product_Item2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Quantity_Unit_of_Measure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MRLI.Material_Return__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>C2reate_Material_Return</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_MRLI_to_MRLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Product_Transfer</name>
        <label>Set Product Transfer</label>
        <locationX>396</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>PT.DestinationLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Warehouse.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory2Pull2.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.QuantitySent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_to_Pull2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.ProductRequestId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.ProductRequestLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Inventory2Pull2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.Service_Technician__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Service_Resource.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.SourceProductItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Product_Item2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.SourceLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Service_Resource.LocationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.QuantityUnitOfMeasure</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Each</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.QuantityReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_to_Pull2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.ReceivedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PT.IsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PT_2_PTs</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Material_Return_Needed</name>
        <label>Material Return Needed?</label>
        <locationX>396</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Inventory2Pull2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Material_Return_Needed_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Will_you_be_returning_this_to_the_material_vendor2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PR2</targetReference>
            </connector>
            <label>Needed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>XX. New Inventory Return {!$Flow.CurrentDateTime}</interviewLabel>
    <label>XX. Technician Inventory Return</label>
    <loops>
        <name>Inventory2Pull2</name>
        <label>Inventory2Pull2</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Non_Serialized_PRLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_Product_Item2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Transfers2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>C2reate_Material_Return</name>
        <label>2. Create Material Return</label>
        <locationX>264</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Set_MRLI</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Inventory2Pull2.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Inventory2Pull2.CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inventory_Location__c</field>
            <value>
                <elementReference>Inventory2Pull2.Parent.DestinationLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Request__c</field>
            <value>
                <elementReference>Inventory2Pull2.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendor__c</field>
            <value>
                <elementReference>Inventory2Pull2.Parent.Vendor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Inventory2Pull2.WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>Material_Return__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_MRLIs2</name>
        <label>Create MRLIs</label>
        <locationX>176</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>MRLIs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Transfers2</name>
        <label>Create Product Transfers2</label>
        <locationX>176</locationX>
        <locationY>1814</locationY>
        <connector>
            <targetReference>Create_MRLIs2</targetReference>
        </connector>
        <inputReference>PTs</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Product_Item2</name>
        <label>2 Find Product Item</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory_to_Pull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Service_Resource.LocationId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory2Pull2.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Service_Resource</name>
        <label>Find Service Resource</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Warehouse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TechnicianIdFromParent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Non_Serialized_PRLIs</name>
        <label>Get Non Serialized PRLIs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Service_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Request.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Serialized__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductRequestLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Request</name>
        <label>Get Product Request</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Non_Serialized_PRLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductRequest</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Warehouse</name>
        <label>Get Warehouse</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inventory2Pull2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WarehouseIdFromParent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PR2</name>
        <label>Update PR2</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>C2reate_Material_Return</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Inventory2Pull2.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Material Return Checked In</stringValue>
            </value>
        </inputAssignments>
        <object>ProductRequest</object>
    </recordUpdates>
    <screens>
        <name>Inventory_to_Pull</name>
        <label>Inventory to Pull</label>
        <locationX>396</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Product_Transfer</targetReference>
        </connector>
        <fields>
            <name>ProductDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: 16px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;For Non-Serialized Products&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: 16px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Inventory Transfer Details&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Product Name: &lt;/strong&gt;{!Inventory2Pull2.Product2.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Quantity in Tech Inventory:&lt;/strong&gt; {!Find_Product_Item2.QuantityOnHand}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Quantity_to_Pull2</name>
            <dataType>Number</dataType>
            <fieldText>Quantity to Pull</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Will_you_be_returning_this_to_the_material_vendor2</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will you be returning this to the material vendor?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 22px;&quot;&gt;Non-Serialized Materials Have Been Successfully Pulled Back From Technician and Material Return Has Been Created!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Product_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MRLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Material_Return_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>MRLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Material_Return_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>PT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>PTs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductTransfer</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TechnicianIdFromParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WarehouseIdFromParent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
